.menu{
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: solid 1px black;
}

.buttonMiddleMenu{
  padding-left: 16px;
  padding-right: 16px;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.3s ease;
}

.buttonMiddleMenu:hover {
  border-bottom-color: #000;
}