*{
  padding: 0;
  margin: 0;
}

.notificationContainer{
  position: fixed;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; /* Alinear horizontalmente al centro */
  align-items: center;
}

.notificationContent{
  padding: 20px;
  max-width: 400px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #7E7F76;
  border: solid 2px black;
  border-radius: 5px;
}

.notificationClose{
  font-size: x-large;
  border: none;
  background-color: transparent;
}