*{
  padding: 0;
  margin: 0;
  font-family: 'GrettaFont', sans-serif;
}


@font-face {
  font-family: 'GrettaFont';
  src: url('../src/assets/IBM-Plex-Sans/ibmplexsans/IBMPlexSans-Light.ttf') format('truetype'); 

}